@import "mixins/ui";
@import "mixins/mixins";
@import "mixins/components";


// global
body, html {
  background: white;
  font-family: $ffSansSerif;
  color: $nearBlack;
}

img {
  @include imageReset();
}

figure {
  @include elementNeedsSpace();
}


// headings
h1, h2, h3, h4, h5, h6 {
  @include headingBase();
}

h1 {
  @include heading1();
}

h2 {
  @include heading2();
  margin-top: 48px;
}

h3 {
  @include heading3();
  margin-top: 32px;
  margin-bottom: 16px;
}

h4 {
  @include heading4();
  margin-top: 24px;
}


// text blocks
p {
  @include paragraph();
}

em, cite {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ol, ul {
  @include list();
  margin: 16px 0;
  padding: 0 0 0 20px;

  li {
    @include unorderedListItem();
    line-height: 1.75;
  }
}

pre, code {
  font-family: $ffMonospace !important;
  line-height: 1.5;
  margin: 0.75em 0;
}

pre ol,
pre li,
pre li div {
  font-family: $ffMonospace !important;
  font-size: $fsMedium;
  line-height: 1.25;
  letter-spacing: -0.5pt;
}

pre {
  li:nth-child(odd) {
    // why!?
    background-color: $nearWhite;
  }
}

article {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

blockquote {
  @include blockquote();
}

[lang="actionscript"] {
  @include elementNeedsSpace();
  background-color: rgba($dirtyWhite, 0.25);
  color: $darkerGrey;
  font-family: $ffMonospace;
  font-size: 0.95em;
  hyphens: none;
  padding: 32px;
}


// interactive elements
a {
  display: inline-block;

  @include anchor();
  color: $darkerBlue;

  &:hover {
    color: $blue;
  }

  &.btn-primary {
    color: $nearWhite !important;
  }

  &.cta {
    @include anchorWithArrow();
    margin-top: 16px;
  }
}

details > summary {
  list-style: none !important; // remove default arrow

  &::-webkit-details-marker {
    display: none !important; // hide marker
  }
}

// forms
input[type="text"],
textarea {
  @include textInput();
}

@include checkbox();

select {
  @include select();
}

input[type="submit"] {
  @include primaryButton();
}


// styles
.centered {
  @include centeredContent();
}

.left-column-content {
  @include leftColumnContent();
}

.btn-primary {
  @include primaryButton();
}

.sub-heading, .subheading {
  margin: 2px 0 16px 0;

  @include greySerif();
  line-height: 1.125;

  @media #{$mqDesktop} {
    margin: 2px 0 24px 0;
  }
}

.cta {
  @include anchorWithArrow();
}

.widescreen-iframe {
  width: $phoneContentCol;
  height: 192px; // 16:9 of width

  @media #{$mqTablet} {
    width: 640px;
    height: 360px; // 16:9 of width
  }
}

.standard-iframe {
  width: $phoneContentCol;
  height: 256px; // 4:3 of width

  @media #{$mqTablet} {
    width: 640px;
    height: 480px; // 4:3 of width
  }
}

.bordered-iframe {
  border: 1px solid $darkGrey !important;
}

.caption-container {
	display: inline-block;
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
  box-sizing: border-box !important;

  &.full-width {
    width: 100% !important;
  }

  &.half-left {
    width: 100% !important;

    @media #{$mqTablet} {
      width: 50% !important;
    }
  }

  &.half-right {
    width: 100% !important;
    float: right !important;

    @media #{$mqTablet} {
      width: 50% !important;
    }
  }
}

figcaption,
.figure-caption,
.captioned-text,
.photo-credit {
  margin: 8px 0 16px;

  @include greySerif();
  font-size: $fsMedium;
  text-align: center;
}

.quote-author {
  position: relative;
  margin: 16px;
  font-size: 0.95em;
  text-align: right;
  top: -32px;

  @include greySerif();
  text-align: right;

  &::before {
    content: "—";
    margin-right: 8px;
  }

  @media #{$mqTablet} {
    margin: 16px 24px;
  }
}

.photo-credit {
  &::before {
    content: "© ";
  }
}

.quote-author {
  &::before {
    content: "– ";
  }
}

.article-end {
  display: block;
  margin: 48px 0;

  hr {
    border-top: 1px solid $paleGrey;
    margin: 0 auto;
    padding: 0;
    width: 66%;
  }
}

.mobile-only-visible {
  display: block !important;

  @media #{$mqTablet} {
    display: none !important;
  }
}

.mobile-hidden {
  display: none !important;

  @media #{$mqTablet} {
    display: block !important;
  }
}

.twitter-wrapper {
  display: block;
  width: 100% !important;
  margin: 24px auto;

  @media #{$mqTablet} {
    margin: 32px auto;
    width: 480px !important;
    max-width: 480px !important;
  }
}

.twitter-tweet,
.twitter-tweet-rendered {
  width: $smallContentCol !important;
  max-width: $smallContentCol !important;

  @media #{$mqPhone} {
    width: $phoneContentCol !important;
    max-width: $phoneContentCol !important;
  }

  @media #{$mqTablet} {
    width: 480px !important;
    max-width: 480px !important;
  }
}

@import "print.scss";
