@import 'ui';


@mixin primaryButton {
  @include button();

  background-color: $darkerBlue;
  border: 2px solid transparent;
  padding: 12px 16px;

  color: $nearWhite;
  font-family: $ffSansSerif;
  font-size: $mainFontSize;
  line-height: 1;

  &:hover,
  &:active {
    background-color: $nearWhite;
    border: 2px solid $blue;
    color: $darkerBlue;
  }
}

@mixin anchorWithArrow {
  @include anchor();

  font-family: $ffSerif;
  font-size: $fsMedium;
  color: $darkerBlue;

  &::after {
    position: absolute;
    margin-left: 8px;

    content: " ➚";
    color: $darkerBlue;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: $blue;

    &::after {
      color: $blue;
    }
  }
}

@mixin checkbox {
  .cb-container {
    display: inline-block;

    &:focus-within {
      @include focusIndicator();
    }
  }

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:focus-visible {
      @include noFocusIndicator();
    }
  }

  input[type="checkbox"][disabled] {
    cursor: not-allowed;
  }

  input[type="checkbox"] + label {
    @include inputLabel();

    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding-left: 4px;

    color: $nearBlack;
    font-size: $fsMedium;
    font-weight: $fwRegular;
    line-height: 1;
    text-transform: none;
  }

  input[type="checkbox"][disabled] + label {
    color: $paleGrey;
    cursor: not-allowed;
  }
}
