@import '../common/breakpoints';
@import '../common/typography';


// content blocks
@mixin centeredContent {
  position: relative;
  margin: 0 auto;
  width: $phoneContentCol;

  @media #{$mqTablet} {
    width: $tabletContentCol;
  }

  @media #{$mqDesktop} {
    width: $desktopContentCol;
  }

  @media #{$mqLargeDesktop} {
    width: $largeContentCol;
  }
}

@mixin leftColumnContent {
  // TODO: get rid of float?
  float: left;
  padding-bottom: 16px;
  width: 100%;

  @media #{$mqTablet} {
    padding-bottom: 32px;
    width: $tabletContentCol;
  }
}


// margins
@mixin elementNeedsSpace {
  margin-top: 32px;
  margin-bottom: 32px;

  @media #{$mqDesktop} {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}


// styles
@mixin underlined {
  text-decoration: underline;
  text-decoration-thickness: 1pt;
}

@mixin greySerif {
  color: $darkGrey;
  font-family: $ffSerif;
}

@mixin description {
  margin-bottom: 8px;

  color: $paleGrey;
  font-family: $ffSerif;
  font-size: $mainFontSize;
  letter-spacing: -0.125pt;

  @media #{$mqTablet} {
    letter-spacing: 0pt;
  }
}


// complex components
@mixin headingContainer {
  .heading-container {
    .heading-link {
      display: block;
      margin: 0;

      color: $nearWhite;
      font-family: $ffHeading;
      font-size: 20pt;
      font-weight: $fwExtraBold;
      line-height: 1;
      text-decoration: none;
      text-transform: lowercase;

      &:focus-visible {
        @include focusIndicator();
      }

      @media #{$mqTablet} {
        font-size: 30pt;
      }
    }

    .subheading {
      @include subheading();
      color: $paleGrey;
    }
  }
}
