// font families
@ffSansSerif: Helvetica, Arial, sans-serif;
@ffSerif: 'PolyItalic';
@ffMonospace: 'SourceCodePro', Courier, monospace;

// TODO: deprecate
@ffHeading: @ffSansSerif;
@ffButtonLabel: @ffSansSerif;

// font sizes
@fsSmol: 11pt;
@fsTextBody: 12.5pt;
@mainFontSize: @fsTextBody;

// font weights
@fwLight: 300;
@fwRegular: 400;
@fwNormal: @fwRegular; // TODO: deprecate
@fwMedium: 500;
@fwSemiBold: 600;
@fwBold: 700;
@fwExtraBold: 800;
