$black: #131313;
$nearBlack: #272727;
$darkerGrey: #4a4a4a;
$darkGrey: #6d6d6d;

$paleGrey: #b5b5b5;
$dirtyWhite: #d7d7d7;
$nearWhite: #f8f8f8;

$blue: #4d6edb;
$mediumBlue: #708be2;
$lightBlue: #c5d0f3;

$transparentBlue: rgba($blue, 0.666);
$transparentMediumBlue: rgba($mediumBlue, 0.666);
$transparentLightBlue: rgba($lightBlue, 0.666);

$green: #49cec2;
$mediumGreen: #5abfb9;
$lightGreen: #91d4d0;

$transparentGreen: rgba($green, 0.666);
$transparentMediumGreen: rgba($mediumGreen, 0.666);
$transparentLightGreen: rgba($lightGreen, 0.666);