@font-face {
  font-family: 'Helvetica';
  src: url('https://assets.jansensan.net/fonts/Helvetica.ttf');
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('https://assets.jansensan.net/fonts/Helvetica-Bold.ttf');
}

@font-face {
  font-family: 'PolyItalic';
  src: url('https://assets.jansensan.net/fonts/Poly-Italic.ttf');
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('https://assets.jansensan.net/fonts/SourceCodePro-Medium.otf');
}
