// font families
$ffSansSerif: 'Helvetica', Helvetica, Arial, sans-serif;
$ffSerif: 'PolyItalic';
$ffMonospace: 'SourceCodePro', Courier, monospace;
$ffHeading: 'HelveticaBold', Helvetica, Arial, sans-serif;;

// font families - aliases
$ffBody: $ffSansSerif;
$ffLabel: $ffSerif;
$ffButtonLabel: $ffSansSerif;

// font sizes
$fsVerySmol: 11px;
$fsSmol: 12px;
$fsMedium: 14px;
$fsTextBody: 16px;
$mainFontSize: $fsTextBody;

// font weights
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwExtraBold: 800;
