// font families
$ffHeading: Helvetica, Arial, sans-serif;
$ffSansSerif: Helvetica, Arial, sans-serif;
$ffSerif: 'PolyItalic';
$ffMonospace: 'SourceCodePro';

// font weights
$fwRegular: 400;
$fwBold: 700;

// font sizes
$mainFontSize: 12.5pt;

// font weights
$fwLight: 300;
$fwNormal: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwExtraBold: 800;
