$phone: 375px;
$tablet: 768px;
$desktop: 960px;
$largeDesktop: 1080px;

$smallContentCol: 288px;
$phoneContentCol: 340px;
$tabletContentCol: 640px;
$desktopContentCol: 944px;
$largeContentCol: 1048px;
