// font families
$ffHeading: Helvetica, Arial, sans-serif;
$ffSansSerif: Helvetica, Arial, sans-serif;
$ffSerif: 'Poly', 'Times New Roman', Times, serif;
$ffMonospace: 'Source Code Pro', 'Lucida Console', Monaco, monospace;

// font sizes
$mainFontSize: 12.5pt;

// font weights
$fwLight: 300;
$fwNormal: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwExtraBold: 800;
