@mixin buttonStyle {
  display: inline-block;

  background-color: $nearBlack;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  padding: 8px 24px;

  font-family: $ffSansSerif;
  font-size: 12pt;
  font-weight: $fwSemiBold;
  color: $nearWhite;

  &:hover,
  &:active {
    text-decoration: none;
    background-color: $blue;
    color: $nearWhite;
  }
}

@mixin captionStyle {
  font-family: $ffSerif;
  color: $darkGrey;
}

@mixin descriptionStyle {
  font-family: $ffSerif;
  font-size: 11pt;
  letter-spacing: -0.25pt;
  color: $paleGrey;

  @media (min-width: $phone) {
    font-size: 12.5pt;
    letter-spacing: -0.125pt;
  }
  @media (min-width: $tablet) {
    font-size: 13pt;
    letter-spacing: 0pt;
  }
}
